:root {
    --primary-color:rgb(115, 78, 18);
    --secondary-color:#ffffff;
}
body{
font-family: 'Poppins', sans-serif;
font-family: 'Tinos', serif;
font-family: 'Bodoni Moda', serif;
/* GRADIENT BG */
background-image: linear-gradient(to right,rgb(131, 131, 131), rgb(226, 226, 226));
font-size: 10px;
}
.header{
    background-color: #fcfcfc;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    margin-top: 5%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display:flex;
    position: relative;
    /* BLUR */
    /* background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 -8px 30px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 4px 4px 30px rgba(0, 0, 0, 0.1), 0 0px 3px -3px black; */
    /* backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 0px; */ 
}
.header__logo {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 25px;
}
.header__logo img {
    object-fit: cover;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-color);
}
.header__logo:hover {
    cursor: pointer;
}
.header__logo img{
    width: 50px;
    height: 50px;
}
.header__nav{
    position: absolute;
    left: 50px;
    top: 30px;
}
.header__nav ul{
    list-style-type:none;
}
.header__nav ul li{
    display:inline;
    font-family: 'Tinos', serif;
    margin: 10px;
    color: rgba(200, 129, 129);
    transition: color 0.5s;
}
.header__nav ul li:hover{
    text-decoration-line: underline;
    cursor: pointer;
    color: var(--primary-color);
}
.header__direct {
    position: absolute;
    right: 50px;
    top: 32px;
    font-family: 'Tinos', serif;
    color: var(--primary-color);
}
.header__direct:hover {
    text-decoration-line: underline;
    cursor: pointer;
}
/* CAROUSEL */
.carousel{
    /* BG-setting */
    background-color: #fcfcfc;
    background-image: url("./img/rose.png");
    background-repeat: no-repeat;
    background-attachment:local;
    background-position: 400px -250px;
    background-size: 1000px; 
    /* div-setting */
    width: 90%;
    height: 550px;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display:flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 4;
        /* BLUR BACKGROUND*/
    /* background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 0px; */
}
.carousel__para{
    /* border-style: solid; */
    opacity: 0.6;
    position:absolute;
    width: 480px;
    height: 500px;
    top: 0px;
    left: 20px;
    z-index: 2;
}
.carousel__para p{
    font-size: 160px;
    margin: 0 auto;
    line-height: 1;
    letter-spacing: -10px;
    /* GRADIENT FONT */
    background: -webkit-linear-gradient(135deg, var(--primary-color) 40%, rgba(200, 129, 129, 0.694));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.carousel__para:hover{
    opacity: 1;
    transition: ease-out opacity 0.3s;
}
.carousel__main {
    /* background-image: url("./img/rose.png");
    background-repeat: no-repeat;
    background-attachment:local;
    background-position: 400px -250px;
    background-size: 1000px; */
    
    position:absolute;
    width: 96%;
    height: 400px;
    top: 17px;
    right: 2%;
    display:flex;
    justify-content: flex-end;
    align-items:baseline;
    gap: 10px;
    z-index: 0;
}
.carousel__item {
    background-color: #fcfcfc;  
    opacity: 0.8;
    width: 230px;
    height: 450px;
    border-radius: 100px;
}
.carousel__item:hover {
    width: 260px;
    height: 450px;
    border-radius: 100px;
    opacity: 1;
    transition: ease-in-out width 0.6s, opacity 0.3s;
    align-self: flex-start;
    /* bg-gradient */
}
.carousel__item img{
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    border-radius: 100px;
}
.carousel__item img:hover{
    -webkit-filter: grayscale(0%);
    border-radius: 100px;
}
.pmid {
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 7px;
    color:rgb(155, 155, 155);
}
.pbot{
    font-size: 20px;
    text-align: center;
    color:rgb(130, 87, 18);
    margin: 0 auto;
}
